/* Startup Website */

@font-face {
	font-family: "DeFonte Normale";
	src: url('defonte/PostScript/DeFonte-reduced-Normale.otf') format('opentype'),
		url('defonte/PostScript/DeFonte-reduced-Normale.ttf') format('truetype');
}

@font-face {
	font-family: "DeFonte Leger";
	src: url('defonte/PostScript/DeFonte-reduced-Leger.otf') format('opentype'),
		url('defonte/PostScript/DeFonte-reduced-Leger.ttf') format('truetype');
}

@font-face {
	font-family: "Halimun";
	src: url('halimun/Halimun.ttf') format('truetype');
}

html,
body{
	height: 100%;
}

.cover {
	background: url('img/main-pic.jpg') top left no-repeat;
	background-size: cover;
	top: 0%;
	display: flex;
	align-items: center;
	width: 100%;
	gap: 1vw;
	padding: 0 5%;
	box-shadow: inset 0 0 100px #100;
	margin-top: -80px;
	padding-bottom: 3vw;
}

#left-part {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	height: 100%;
	width: 40%;
	margin-top: 200px;
	gap: 3vw;
}

.quotes {
	font-family: "DeFonte Leger";
	font-size: 2vw;
	width: 70%;
	color: #0c162c;
	text-align: center;
	background-color: #809d67;
	padding: 2%;
	border-radius: 50px;
}

#right-part {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	height: 100%;
	width: 80%;
	margin-top: 200px;
}

#title-image {
	background: url('img/snowy-mountain.jpeg') no-repeat;
	background-size: cover;
	/* or background-size: contain; */
	font-family: "DeFonte Normale";
	display: flex;
	align-items: flex-end;
	justify-content: center;
	font-size: 5vw;
	width: 100%;
	height: 15vw;
	box-shadow: inset 0 0 100px #100;
	color: white;
}

#maroon-container {
	display: flex;
	justify-content: center;
	font-family: "DeFonte Leger";
	font-size: 3.2vw;
	padding: 1vw;
	text-align: center;
	background-color: #7b3a2a;
	color: #809d67;
	width: 100%;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
}

#presentation-container {
	display: flex;
	justify-content: center;
	font-family: "DeFonte Leger";
	font-size: 2.2vw;
	padding: 1vw;
	text-align: center;
	background-color: #5c2c20;
	color: #d2d9eb;
	width: 100%;
	border-radius: 50px;
	margin-top: 2vw;
}

#stay-connected {
	background: url('img/stay-connected.jpeg') no-repeat;
	background-size: cover;
	display: flex;
	width: 50vw;
	height: 15vw;
	box-shadow: inset 0 0 100px #100;
	margin-top: 2vw;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 1.5%;
}

#stay-title {
	font-family: "DeFonte Leger";
	font-size: 4.5vw;
	color: #552013;
	padding: 0% 1%;
	background-color: rgba(240, 248, 255, 0.11);
}

#newsletter {
	font-family: "Halimun";
	font-size: 3vw;
	color: #aace8c;
	background-color: rgba(0, 0, 0, 0.226);
}

.enroll {
	font-family: "DeFonte Leger";
	font-size: 2vw;
	color: white;
	margin-top: 2vw;
}

.email-form {
	background-color: #7b3a2a;
	padding: 20px;
	top: 50%;
	border-radius: 20px;
	width: 50vw;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
	text-align: center;
	align-items: center;
	margin-top: 2vw;
}

input[type="email"] {
	font-family: "DeFonte Leger";
	width: 60%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

button {
	font-family: "DeFonte Leger";
	padding: 10px 20px;
	background-color: #aace8c;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	margin-left: 2px;
}

button:hover {
	background-color: #aace8cb6;
}

#message {
	font-family: "DeFonte Leger";
	margin-top: 10px;
	font-size: 1.5vw;
	color: #ffffff;
}

.course-catalogue{
	background-color: #4f673a;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	box-shadow: inset 0 0 100px #100;
}

#course-header {
	display: flex;
	gap: 4vw;
	margin-top: 4vw;
}

#logo{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	font-family: "DeFonte Leger";
	font-size: 3vw;
	color: #c2cadd
}

#course-image {
	background: url('img/course-catalogue.jpeg') no-repeat;
	background-size: cover;
	display: flex;
	width: 60vw;
	height: 25vw;
	box-shadow: inset 0 0 100px #100;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

#course-title {
	font-family: "DeFonte Leger";
	font-size: 4.5vw;
	color: white;
	padding: 0% 1%;
}

#clubs {
	font-family: "Halimun";
	font-size: 3vw;
	color: #ffb8c6;
}

#course-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 2%;
	margin-top: 9vw;
	gap: 0.5vw;
}

.course {
	font-family: "DeFonte Leger";
	display: flex;
	padding: 1vw;
	width: 100%;
	height: 9vw;
	border-radius: 20px;
}

.first-half{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	width: 50%;
}

.course-title{
	display: flex;
}

#poetry{
	background-color: #c17f68;
}

#art{
	background-color: #0c162c;
}

#history{
	background-color: #d7ad70;
}

#lesbianism{
	background-color: #bbaaff;
}

/*------- Media Queries -------*/

@media only screen and (max-width : 568px) {
	.cover h1 {
		font-size: 40px;
	}

	section {
		padding: 20px;

	}

}